<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.bidjee.ssid-plugin"
        version="0.0.1">

    <name>SSIDPlugin</name>
    <description>SSID Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,ssid,wifi</keywords>
    <repo>https://github.com/poliver87/SSIDPlugin.git</repo>

    <js-module src="www/SSIDPlugin.js" name="SSIDPlugin">
        <clobbers target="navigator.SSIDPlugin" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="SSIDPlugin">
                <param name="ios-package" value="POSSIDPlugin" />
            </feature>
        </config-file>

        <header-file src="src/ios/POSSIDPlugin.h" />
        <source-file src="src/ios/POSSIDPlugin.m" />
        <framework src="SystemConfiguration.framework" weak="true" />
    </platform>
</plugin>